#carousel-container {
  width: 900px;
}
#image-wrapper {
  position: relative;
  width: 300px;
  height: 205px;
  overflow: hidden;

  left: 300px;
}
#image-wrapper img {
  width: 300px;
  height: 201px;
  position: absolute;
  top: 0;
}

#arrowLeft {
  position: absolute;
  top: 0%;
  margin: 305px;
  float: left;
}
#arrowRight {
  float: right;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
#carousel-dots-container {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
}
