body {
  background: radial-gradient(
    circle,
    rgba(34, 193, 195, 1) 0%,
    rgba(45, 164, 253, 1) 100%
  );
  color: white;
}
.topContainer {
  display: flex;
  font-family: "Raleway", sans-serif;
  width: 100%;
  padding: 5%;
  height: 100%;
}
.textContainer {
  width: 60%;
}
.tableContainer {
  width: 80%;
}
table {
  font-family: "Lucida Console", "Courier New", monospace;
  border-collapse: collapse;
  width: 60%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
