/* media queries */

/* for tablets */
@media (min-width: 768px) {
  .whole-content {
    max-width: 100%;
  }

  .contacts {
    width: 91.45%;
    display: inline-block;
    margin-left: 4.2667%;
    margin-right: 4.2667%;
    margin-top: 1.5625rem;
    margin-bottom: 1.25rem;
  }
  .content-box {
    max-width: 22.25rem;
    margin-top: 2.0625rem;
    margin-bottom: 1.875rem;
    margin-right: 2.1875rem;
    margin-left: 1rem;
  }
  .border-box {
    max-width: 375px;
  }
  .for-mobile,
  .for-web {
    display: none;
  }
  .for-tab {
    display: block;
  }
  .mobile-image {
    position: absolute;
    top: 30%;
    left: 50.375%;
    margin-right: -20%;
    overflow: hidden;
  }
  .about-body img {
    float: left;
    width: 35%;
    margin: 0;
  }

  .text-area-groups {
    width: 65%;
    float: right;
    padding: 0px;
    padding-left: 60px;
  }

  .left-side {
    max-width: 20%;
    margin-right: 0;
    float: left;
    text-align: right;
  }
  .left-side:after {
    content: "";
    clear: both;
    display: table;
  }

  .right-side {
    max-width: 20%;
    margin-left: 0;
    float: right;

    text-align: left;
  }

  .app-image {
    filter: drop-shadow(10px 10px 100px rgba(24, 48, 63, 0.3));
    border-radius: 40px;
    max-width: 30%;
  }
  /*  */

  .download-app {
    padding-top: 60px;
    padding-bottom: 120px;
  }
  .download-app-text {
    float: left;
    width: 50%;
  }

  .download-app-img {
    padding-left: 28px;
    float: right;
    width: 50%;
    margin-top: 10%;
  }

  .ho-to-use {
    padding-bottom: 200px;
  }
  /* .use-app .section-heading{
        width: 450px;
    } */
  .video {
    width: 70%;
    height: 45%;
    bottom: -20%;
  }
  /* */

  .profiles {
    margin-top: 15%;
    margin-bottom: 120px;
  }
  .profiles h3 {
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: normal;
  }
  .profiles h5 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  .profile-card {
    display: inline-block;
    width: 30%;
    margin-top: 32px;
    margin-right: 3%;
    /* vertical-align: top; */
  }
  .profile-card:last-child {
    margin-right: 0px;
  }
  .profile-card img {
    width: 178px;
    height: 178px;
  }
  .profile-card h3 {
    padding-top: 11px;
  }

  .customers {
    padding: 120px 0;
  }
  .customers .section-heading h4 {
    width: auto;
  }
  .customer-card {
    max-width: 450px;
  }
  .customer-card h4 {
    font-size: 25px;
    line-height: 37.5px;
  }

  /**/

  .blog {
    padding: 120px 0;
  }
  .blog-posts {
    margin-left: auto;
    margin-right: auto;
    display: table;
    table-layout: fixed;
    border-spacing: 15px;
    border-collapse: separate;
  }
  .post {
    width: 32%;
    display: table-cell;
    /* border-spacing:5px; */
  }
  .post:last-child {
    padding-right: 0;
  }
  /**/
  .footer-contact {
    display: table;
    table-layout: fixed;
    width: 90%;
    top: -80px;
  }
  .bottom {
    padding-top: 120px;
  }
  .footer-contact h5,
  .footer-contact img {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
    font-size: 16px;
  }
  .email,
  .phone {
    display: table-cell;
    /* position: absolute; */
    vertical-align: middle;
    text-align: left;
    padding: 0 30px;
    width: 50%;
  }
  .email {
    border-right: 1px solid #000000;
    /* width: 50%; */
  }

  .bottom-info,
  .links,
  .newsletter {
    width: 25%;
    display: table-cell;
    padding: 20px;
  }
  footer h4 {
    font-size: 20px;
  }
  .email:after {
    content: "";
    display: none;
  }
}

/* for web */
@media (min-width: 1024px) {
  .for-mobile,
  .for-web {
    display: none;
  }
  .mobile-image {
    max-width: 80%;
  }
  .content-box {
    max-width: 570px;
    min-height: 432px;
    margin-top: 2.0625rem;
    margin-bottom: 1.875rem;
    margin-right: 4.1875rem;
    margin-left: 8.4375rem;
  }
  .border-box {
    max-width: 570px;
    min-height: 534px;
    border: 18px solid #7572ff;
    margin-left: 11.5625rem;
  }

  .hero {
    min-height: 1024px;
  }
  .for-mobile,
  .for-tab {
    display: none;
  }
  .for-web {
    display: block;
  }

  .content-box {
    max-width: 570px;
    min-height: 432px;
    margin-top: 2.0625rem;
    margin-bottom: 1.875rem;
    margin-right: 4.1875rem;
    margin-left: 8.4375rem;
  }
  .border-box {
    max-width: 570px;
    min-height: 534px;
    border: 18px solid #7572ff;
    margin-left: 11.5625rem;
  }
}
